@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Black.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
}


h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  color: #eee;
  align-self: center;
  text-align: center;
}

h4 {
  color: #eee;
}

b,
strong {
  color: #eee;
}

a {
  color: #ccc;
  font-weight: bold;
}


body {
  font-family: 'Merriweather', serif;
  background-color: #111;
  color: #ccc;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

p {
  line-height: 1.4;
}

nav {
  padding-top: 1rem;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
}


nav a:hover {
  text-decoration: underline;
}

#content {
  align-self: center;
  box-sizing: border-box;
  padding: 0 30px;
  max-width: min(600px, 100vw);
}

.centered {
  align-self: center;
  text-align: center;
}

p:has(+ pre) {
  margin-bottom: 0;
}

p+pre {
  margin-top: 5px;
}

pre {
  overflow: auto;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4px 0;
  background-color: #111;

}

code {
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.9rem;
}

p>code,
a>code,
h1>code,
h2>code,
h3>code,
h4>code,
h5>code,
li>code {
  font-weight: bold;
  color: #ddd;
  font-size: 1em;
}

.copy-button {
  font-family: sans-serif;
  font-size: 0.8rem;
  text-decoration: underline;
}

table th {
  border-bottom: 1px solid #ccc;
}

img,
video {
  margin: 0;
  max-width: 100%;
}

.warning {
  border-color: #CCCC49 !important;
}

.warning h1 {
  border-color: #CCCC49 !important;
  background-color: #CCCC49 !important;
}

.block {
  border: 1px dashed #CCC;
}

.block.padded {
  margin: 10px;
  border: 1px solid #CCC;
}

.block p {
  padding-top: 0;
  font-size: 0.9em;
  padding-left: 15px;
  padding-right: 15px;
}

.block h1 {
  font-size: 1.17em;
  position: relative !important;
  margin: 0 !important;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px !important;
  border: 1px solid #CCC;
  color: #111;
  background-color: #CCC;
}

.nopara p {
  padding: 0;
  margin: 0px;
  margin-bottom: -5px;
}


li {
  padding: 1px 0;
}

:root {
  /* guess which browser needed this */
  font-size: 1rem;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  :root {
    zoom: 1.2;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  :root {
    zoom: 1.3;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  :root {
    zoom: 1.4;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.5;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.55;
  }
}


@media screen and (min-width: 1400px) and (max-width: 1600px) {
  :root {
    zoom: 1.6;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  :root {
    zoom: 1.65;
  }
}

@media screen and (min-width: 1800px) {
  :root {
    zoom: 1.7;
  }
}