<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="UTF-8">
    <title id="title"><super/> - My Blog</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <super/>
  </head>
  <body>
    <nav id="menu" class="centered"> 
      <a href="/">Home</a> •
      <a href="/quickstart/">Get Started</a> •
      <a href="/documentation/">Docs</a> •
      <a href="/community/">Vision & Community</a> •
      <a href="https://kristoff.it" target="_blank">Devlog</a> •
      <a href="https://github.com/kristoff-it/zine" target="_blank">
        Code
      </a>
    </nav>
    <div id="content">
      <super/>
    </div>
  </body>
</html>
