@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Black.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Light.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Regular.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Medium.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-SemiBold.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/jbm/JetBrainsMono-Bold.woff2') format('woff2'),
    url("fonts/jbm/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}